@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


/* #17B8BD #53565A #E5F4F4 */

:root{
    --bgColor: #181818;
    --secondaryBgColor: #0f0f0f;
    --textPrimary: #E5F4F4;
    --textSecondary: #626468;
    --primaryColor: #17B8BD;
}
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Roboto', sans-serif;
    background-color: var(--bgColor) ;
    color: var(--textPrimary);
    height: 100%;
}
main{
    margin: 40px auto;
    width: 75vw;
    height: 100%;
}
#header{
    /* background-color: #18dda2; */
    display: flex;
    align-items: center;
}
h1{
    position: relative;
    padding-left: 50px;
    margin-right: auto;;
}
h1 svg{
    fill: var(--primaryColor); 
    width: 40px;
    position: absolute;
    left: 0px;
}
#info-container{
    padding:6px  ;
    color: var(--primaryColor);
    font-size: 1.9rem;
    font-family: 'Roboto Mono', 'monospace';
    margin-top: 120px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    opacity: 0;
    transition: opacity 0.2s ease;
}
/* #word-counter{
    opacity: 0;
} */
#game{ 
    height: 135px;
    overflow: hidden;
    position: relative;
    outline: none;
}
.word{
    display: inline-block;
    font-family: 'Roboto Mono', 'monospace';
    font-size: 1.9rem;
    color: var(--textSecondary);
    line-height: 45px;
    margin: 0px 6px;
    
}
#words{
    filter: blur(8px);
}

#game:focus #words{
    filter: blur(0);
}
#focus-error{
    position: absolute;
    inset: 0;
    text-align: center;
    margin-top: 55px;
    font-size: 1.2rem;
    color: var(--textPrimary);
    font-family: 'Roboto Mono', monospace;
}
#game:focus #focus-error{
    display: none;
}
.letter.correct{
    color: #E5F4F4;
}
.letter.incorrect{
    color: #ff5555;
}
@keyframes blink{
    0%{
        opacity: 1;
    }
    50%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
#cursor{
    /* display: none; */
    background-color: var(--primaryColor);
    height: 36px;
    width: 3px;
    position: fixed;
    inset: 0;
    left: 12.6vw;
    /* top: 290px; */
    top: 354px;
    /* top: 202px; */
    border-radius: 2px;
    animation: blink 1s infinite;
    transition: left 0.1s ease, top 0.1s ease;
}
#game:focus #cursor{
    display: block;
}
#game.disable #words{
    filter: blur(0);
    opacity: 0.4;
}
#game.disable #focus-error{
    display: none;
}
#game.disable #cursor{
    display: none;
}
footer{
    position: fixed;
    bottom: 40px;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    font-family: 'Roboto Mono';
    font-size: 0.7rem;
}
#features-info{
    color: var(--textSecondary);
}
#features-info span{
    background-color: var(--textSecondary);
    padding: 0px 6px;
    color: var(--bgColor);
    border-radius: 2px;
    margin-right: 8px;
    
}

/* volume button styling */
#volume-button{
    position: relative;
    /* background-color: #17B8BD; */
    padding: 0px 10px;
}

.high svg{
    fill: var(--textPrimary);    
}
.low svg{
    fill: #ddd;    
}
.mute svg{
    fill: var(--textSecondary);
}

.high{
    display: block;
}
.low{
    display: none;
}
.mute{
    display: none;
}

#volume-slider-container{
    display: inline-block;
    opacity: 0;
    pointer-events: none;
    background-color: #323232;
    padding: 6px 16px 14px 16px;
    border-radius: 4px;
    position: absolute;
    top: 28px;
    left: -66px;
    transition: opacity 0.2s ;
}
#volume-button:hover #volume-slider-container{
    opacity: 1;
    pointer-events: all;
}
/* General slider styling */
#volumeSlider {
    -webkit-appearance: none; /* Removing default styling */
    width: 140px;
    height: 4px;
    background: var(--primaryColor);
    border-radius: 5px;
    outline: none;
    opacity: 0.8;
    transition: opacity 0.2s ;
}
#volumeSlider:hover {
    opacity: 1;
}

/* Webkit browsers (Chrome, Safari, etc.) */
#volumeSlider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 12px;
    height: 12px;
    background: #ddd;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.2s, width 0.2s, height 0.2s;
}
#volumeSlider::-webkit-slider-thumb:hover {
    width: 15px;
    height: 15px;
}

/* Firefox */
#volumeSlider::-moz-range-thumb {
    width: 12px;
    height: 12px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.2s, width 0.2s, height 0.2s;
}
#volumeSlider::-moz-range-thumb:hover {
    width: 15px;
    height: 15px;
}

.customize-container{
    display: flex;
    justify-content: center;
}
.customize{
    display: flex;
    background-color: var(--secondaryBgColor);
    margin-top: 50px;
    padding: 6px 20px;
    border-radius: 8px;
}
.customize button{
    background-color: var(--secondaryBgColor);
    font-family: 'Roboto Mono';
    color: var(--textSecondary);
    font-size: 1rem;
    font-weight: 500;
    border: none;
    cursor: pointer;
    transition: color 0.2s;
}
.count-selector + .count-selector{
    margin-left: 5px;
}
.customize button:hover{
    color: var(--textPrimary);
}
.count-selector.active{
    color: var(--primaryColor);
}
.toggle-buttons{
    border-right: 2px solid #2b2b2b ;
    padding-right: 8px;
    margin-right: 8px;
}
.toggle-buttons .active{
    color: var(--primaryColor);
}
.word-count-toggle{
    margin-right: 5px;
}
.count-selector-container{
    display: none;
}
.count-selector-container.visible{
    display: inline;
}

#other-info-container{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
#other-info{
    display: flex;
    gap: 50px;
    font-size: 1.2rem;
    font-weight: 500;
    font-family: 'Roboto Mono';
    color: var(--textSecondary);
}
#correct-word-count span{
    color: var(--primaryColor);
}
#mistake-count span{
    color:#ff5555;
}